<!-- Componente que se encarga de renderizar la parte de las películas 
    posee el boton de añadir pelicula ademas del select de la lista de listas de peliculas
    que el usuario puede seleccionar para introducir la pelicula, por otro lado renderizamos 
    la pelicula con su imagen que es la mezcla de dos strings ademas de dar el titulo de la pelicula   -->
<div id="pelicula">   
        <form class="example-form" [formGroup]="peliculaFormulario">
            <div class="botones_pelicula">
                <button mat-button style="background-color: red;" (click)="addNewFilm()">+</button>
                <select formControlName="selectedList">
                    <option *ngFor="let lista of resultadoListas" value="{{lista.listId}}">{{lista.listName}}</option>
                </select>            
            </div>          
                <img *ngIf="pelicula" [src]="getFullImgPath(pelicula?.backdrop_path)" name="{{pelicula.id}}" alt="{{pelicula.original_title}}">
                <p *ngIf="pelicula && pelicula.original_title"  class="tituloPelicula">{{pelicula.original_title | slice:0:20}}</p>       
        </form>
</div>

