<!-- <div class="Film_MainContainer">
    <div class="divTarget">
        <img *ngIf="film.backdrop_path" [src]="getFullImgPath(film?.backdrop_path)"/>
    <p *ngIf="film.original_title" >{{film.original_title}}</p>
    </div>
</div> -->
<div id="pelicula">
    
        <form class="example-form" [formGroup]="peliculaFormulario">
            <div class="botones_pelicula">
                <button mat-button style="background-color: red;" (click)="addNewFilm()">+</button>
                <select formControlName="selectedList">
                    <option *ngFor="let lista of resultadoListas" value="{{lista.listId}}">{{lista.listName}}</option>
                </select>
             
            </div>
           
                <img *ngIf=" pelicula" [src]="getFullImgPath(pelicula?.backdrop_path)" name="{{pelicula.id}}" alt="{{pelicula.original_title}}">
                <p *ngIf="pelicula && pelicula.original_title"  class="tituloPelicula">{{pelicula.original_title | slice:0:20}}</p> 
   
           
         
        </form>
       
    
    
</div>

