img{
    width: 100%;
}
.films{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
    
}
.divTarget{
    background-color: black;
    
    p{
        color: white;
    }
}