
<div class="containerBody">
    <h1 id="titulo1">Lista de Peliculas</h1>
    <div class="button_container">
        <button id="btnBack" (click)="oldPage(page)"><i class="fa-solid fa-angles-left"></i></button>
        <button id="btnNext" (click)="nextPage(page)"><i class="fa-solid fa-angles-right"></i></button>
        
    </div>
    
    <!--Traer los datos de las peliculas solo imagen y titulo
    crear estructura para pintar las peliculas-->
    <br>
  

    <!--Prueba-->
    
<div class="peliculas-recomendadas contenedor">


	<div class="contenedor-principal">
		<button role="button" (click)="goPre()" [disabled]="carrouselStep == 0" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

		<div class="contenedor-carousel" >
			<div class="carousel" #carrousel>
				<div class="pelicula" id="pelicula" *ngFor="let pelicula of resultadoPeliculas" #peliculas>
                    <app-film [pelicula]="pelicula"></app-film>
                </div>
			</div>
		</div>
		<button role="button" (click)="goNext()" [disabled]="carrouselStep >= maxCarrouselStep-1" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
	</div>
</div>
    <h1 id="titulo2">Listas de Usuario</h1>
    <div class="lists">
        <div class="btn_list_container">
            <form class="example-form" [formGroup]="listaFormulario">
                <button mat-fab role="button" class="Crear_lista" id="button_lista"><i class="fas fa-plus" (click)="newList()"></i></button>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Nueva Lista</mat-label>
                  <input matInput type="text" formControlName="name" id="input_lista" placeholder="List Name" value="" (change)="getNewList(nueva)" #nueva>
                </mat-form-field>
            </form>
        </div>
      
       
       
        <div class="list_container">
            <div class="list" id="list" *ngFor="let list of resultadoListas" #list>
                <div style="display: block;"  id="tituloListas"><h1>{{list.listName}}</h1>
                    <div class="borrar_lista">
                        <h3 style="margin-right: 3%; margin-left: 2%;">Borrar Lista</h3>
                        <button mat-button style="background-color: red;" value="{{list.listName}}"  (click)="deleteList(delList)" #delList>-</button>
                    </div>
                   
                </div>
               
                    <div class="film_container">
                        <div class="peliculas_container" *ngFor="let movie of list.films">
                        <input value="{{movie.filmId}}" style="display: none;" #delId>
                        <a href="https://www.themoviedb.org/movie/{{movie.filmIdMD}}" id="enlace">
                            <img src="{{movie.filmPhoto}}" class="fotos_listas" alt="" >
                        </a>
                        <button mat-button style="background-color: red;" value="{{movie.filmName}}"  (click)="deleteFilm(delId)" #delFilm>-</button>
                        
                        
                 
                  
                        </div>
                    </div>
             
            </div>
            
        </div>
        
    </div>
</div>




