.Carrousel_MainContainer {
    display: flex;
    flex-direction: row;
    place-content: flex-start;
    align-items: center;
}

.ViewBaseFilm {
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
}

.Carrousel_ButtonsContainer {
    position: absolute;
    width: 100%;

    display: flex;
    flex-direction: row;
    place-content: space-between;
    align-items: center;
}

.Carrousel_ButtonContainer {
    height: 20px;
    width: 20px;

    button {

    }
}