<div class="containerBody">
    <h1>Lista de Peliculas</h1>

    <button id="btnNext" (click)="nextPage(page)">proxima</button>
    <button id="btnBack" (click)="oldPage(page)">anterior</button>
    <!--Traer los datos de las peliculas solo imagen y titulo
    crear estructura para pintar las peliculas-->
    <br>
    <div class="Carrousel_MainContainer">
        <div class="Carrousel_ButtonsContainer">
            <div class="Carrousel_ButtonContainer">
                <button type="button"
                (click)="goPrev()">
                    a
                </button>
            </div>
            <div class="Carrousel_ButtonContainer">
                <button type="button"
                (click)="goNext()">
                    b
                </button>
            </div>
        </div>
        <div class="mierda" #carrousel>
            <div class="ViewBaseFilm" *ngFor="let pelicula of resultadoPeliculas">
                <app-film
                    [film]="pelicula" 
                ></app-film>
            </div>
        </div>
    </div>


    <h1>Listas de Usuario</h1>
    <div class="lists">
        
    </div>
</div>

